<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Mundo Scoot</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="Scott, Campañas, Regional" name="keywords">
    <meta content="BrainRed Studio" name="author">
    <meta content="BackOffice de Campañas de Kimberly Clark" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="~/Content/favicon.png" rel="shortcut icon">
    <link href="~/Content/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="~/Content/main.css" rel="stylesheet">
</head>
<body class="auth-wrapper">
    <div class="all-wrapper menu-side with-pattern">
        <div class="auth-box-w">
            <div class="logo-w">
                <a href="index.html"><img alt="" src="~/Content/img/logo-scott-big.png"></a>
            </div>
            <h4 class="auth-header">
                Login de acceso
            </h4>
            @RenderBody()           
        </div>
    </div>
    <script src="~/Scripts/validator.min.js"></script>
</body>
</html>