 <!-- /// MENU LEFT PROFILE -->
<div class="wrapper-menu-right">
    <div id="menu-right">
        <div class="head-menu">
            <img src="~/Content/assets/images/scott.png" alt="">
            <div class="avatar">
                <img src="~/Content/assets/images/form-register.png" alt="">
                <div class="upload-photo">
                    <input type="file" name="photo" id="photo" class="file-photo">
                    <label for="photo" class="file-photo-trigger"></label>
                </div>
            </div>
        </div>
        <div class="detail-menu">
            <p class="title"><span>Mi cuenta</span></p>
            <p class="name">Raúl Estrada</p>
            <p class="points">
                <img src="~/Content/assets/images/rating.png" alt="">
                <!-- <span> -->
                50 Puntos
                <!-- </span> -->
            </p>
        </div>
        <ul class="settings-menu">
            <li><a href="#">Total de puntos registrados </a></li>
            <li><a href="#">Mis productos canjeados </a></li>
            <li><a href="#">Cambiar contraseña</a></li>
            <li><a href="#terminos" class="link modaLink">Términos y condiciones</a></li>
            <li><a href="#politicas" class="link modaLink">Políticas de privacidad</a></li>
        </ul>
        <div class="logout">
            <button class="btn btn-orange">Desconectarse</button>
        </div>
        <div class="close"><span></span></div>
    </div>
</div>
