<footer id="footer" class="footer_int">
    <div class="imagen">
        <img src="assets/images/higiene.png" alt="">
    </div>
    <div class="content">
        <div class="width">
            Para más información acerca de las marcas de Kimberly-Clark, visite el website de Kimberly-Clark Worldwide, Inc. Todos los nombres, logos, marcas y/o propiedad intelectual registrado son propiedad de <br>
            Kymberly-Clark Worldwide, Inc. y/o sus afiliados. Copyright 2016 Kimberly-Clark Worldwide. Inc. Todos los derechos reservados. Su visita a este sitio y el uso de la información aquí presentada está sujeta a los <br>
            <a href="#terminos" class="link modaLink">Términos y condiciones contenidos</a> en el aviso de privacidad. Por favor, léala, así como también nuestra <a href="#politicas" class="link modaLink">política de tratamiento de datos personales.</a>
        </div>
    </div>
</footer>
<!-- /// Terminos y condiciones -->
<div id="terminos" class="modalBox terminos">
    <div class="main">
        <div class="wrapper info-text">
            <div class="close"></div>
            <div class="heading-line">
                <div class="title-normal">
                    <span>Terminos y Condiciones</span>
                </div>

            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id bibendum augue, ac bibendum leo. Nunc vel cursus orci. Sed scelerisque diam pulvinar libero posuere finibus. Curabitur laoreet sit amet sapien in tincidunt. In ac augue non ex sodales sagittis. Maecenas accumsan faucibus orci eget ultricies. Nulla ullamcorper euismod neque finibus dapibus. Maecenas non laoreet neque, eget fermentum libero.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id bibendum augue, ac bibendum leo. Nunc vel cursus orci. Sed scelerisque diam pulvinar libero posuere finibus. Curabitur laoreet sit amet sapien in tincidunt. In ac augue non ex sodales sagittis. Maecenas accumsan faucibus orci eget ultricies. Nulla ullamcorper euismod neque finibus dapibus. Maecenas non laoreet neque, eget fermentum libero.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id bibendum augue, ac bibendum leo. Nunc vel cursus orci. Sed scelerisque diam pulvinar libero posuere finibus. Curabitur laoreet sit amet sapien in tincidunt. In ac augue non ex sodales sagittis. Maecenas accumsan faucibus orci eget ultricies. Nulla ullamcorper euismod neque finibus dapibus. Maecenas non laoreet neque, eget fermentum libero.
                </p>
            </div>

        </div>
    </div>
</div>
<!-- /// Politicas de privacidad -->
<div id="politicas" class="modalBox politicas">
    <div class="main">
        <div class="wrapper info-text">
            <div class="close"></div>
            <div class="heading-line">
                <div class="title-normal">
                    <span>Politicas de Privacidad</span>
                </div>

            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id bibendum augue, ac bibendum leo. Nunc vel cursus orci. Sed scelerisque diam pulvinar libero posuere finibus. Curabitur laoreet sit amet sapien in tincidunt. In ac augue non ex sodales sagittis. Maecenas accumsan faucibus orci eget ultricies. Nulla ullamcorper euismod neque finibus dapibus. Maecenas non laoreet neque, eget fermentum libero.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id bibendum augue, ac bibendum leo. Nunc vel cursus orci. Sed scelerisque diam pulvinar libero posuere finibus. Curabitur laoreet sit amet sapien in tincidunt. In ac augue non ex sodales sagittis. Maecenas accumsan faucibus orci eget ultricies. Nulla ullamcorper euismod neque finibus dapibus. Maecenas non laoreet neque, eget fermentum libero.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id bibendum augue, ac bibendum leo. Nunc vel cursus orci. Sed scelerisque diam pulvinar libero posuere finibus. Curabitur laoreet sit amet sapien in tincidunt. In ac augue non ex sodales sagittis. Maecenas accumsan faucibus orci eget ultricies. Nulla ullamcorper euismod neque finibus dapibus. Maecenas non laoreet neque, eget fermentum libero.
                </p>
            </div>

        </div>
    </div>
</div>
<!-- /// Politicas de privacidad -->
<div id="contrato" class="modalBox contrato">
    <div class="main">
        <div class="wrapper info-text">
            <div class="close"></div>
            <div class="heading-line">
                <div class="title-normal">
                    <span>Contrato de Licencia de Usuario</span>
                </div>

            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id bibendum augue, ac bibendum leo. Nunc vel cursus orci. Sed scelerisque diam pulvinar libero posuere finibus. Curabitur laoreet sit amet sapien in tincidunt. In ac augue non ex sodales sagittis. Maecenas accumsan faucibus orci eget ultricies. Nulla ullamcorper euismod neque finibus dapibus. Maecenas non laoreet neque, eget fermentum libero.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id bibendum augue, ac bibendum leo. Nunc vel cursus orci. Sed scelerisque diam pulvinar libero posuere finibus. Curabitur laoreet sit amet sapien in tincidunt. In ac augue non ex sodales sagittis. Maecenas accumsan faucibus orci eget ultricies. Nulla ullamcorper euismod neque finibus dapibus. Maecenas non laoreet neque, eget fermentum libero.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id bibendum augue, ac bibendum leo. Nunc vel cursus orci. Sed scelerisque diam pulvinar libero posuere finibus. Curabitur laoreet sit amet sapien in tincidunt. In ac augue non ex sodales sagittis. Maecenas accumsan faucibus orci eget ultricies. Nulla ullamcorper euismod neque finibus dapibus. Maecenas non laoreet neque, eget fermentum libero.
                </p>
            </div>

        </div>
    </div>
</div>
