
@{
    ViewBag.Title = "Sorteo";
    Layout = "~/Views/Shared/_PublicCampain.cshtml";
}



        <div class="swiper-container slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="wrapper">
                        <div class="content">
                            <div class="text">
                                <img src="~/Content/assets/images/slider-inner/1/text.png" alt="">
                            </div>
                        </div>
                        <div class="imagen">
                            <img src="~/Content/assets/images/slider-inner/1/thumb.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="wrapper">
                        <div class="content">
                            <div class="text">
                                <img src="~/Content/assets/images/slider-inner/2/text.png" alt="">
                            </div>
                        </div>
                        <div class="imagen">
                            <img src="~/Content/assets/images/slider-inner/2/thumb.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="wrapper">
                        <div class="content">
                            <div class="text">
                                <img src="~/Content/assets/images/slider-inner/3/text.png" alt="">
                            </div>
                        </div>
                        <div class="imagen">
                            <img src="~/Content/assets/images/slider-inner/3/thumb.png" alt="">
                        </div>
                    </div>
                </div>

            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="more text-center">
            <span>Descubre cómo participar aquí</span>
        </div>

        <!-- <div class="down">
                            <a href="">
                                Ver más
                            </a>
                        </div>
        -->

        <section id="products">
            <!-- <div class="width header-products">
                <div class="left">
                    <a href="" class="btn btn-orange">
                        Todos los artículos
                    </a>
                </div>
                <div class="right">
                    <div class="codes">
                        <a href="#code" class="modaLink">
                            Ingresa tus códigos
                        </a>
                    </div>
                </div>
            </div>-->
            <div class="video-products">
                <div class="width">
                    <div class="title"><img src="~/Content/assets/images/mecanica.png" alt=""></div>
                    <div class="video-inner">
                        <img src="~/Content/assets/images/video.png" alt="">
                    </div>
                    <p class="sms">¡A más códigos, MÁS OPCIONES DE GANAR</p>
                    <div class="down"></div>
                </div>
            </div>
            <div class="participants">
                <div class="width">
                    <div class="title"><img src="~/Content/assets/images/participants.png" alt=""></div>
                    <div class="wrapper-participants">
                        <ul class="list-participants">
                            <li>
                                <a href="">
                                    <div class="text">
                                        <p>Rindemax</p>
                                        <span>500 puntos</span>
                                    </div>
                                    <div class="img">
                                        <img src="~/Content/assets/images/item-participants.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="text">
                                        <p>Rindemax</p>
                                        <span>500 puntos</span>
                                    </div>
                                    <div class="img">
                                        <img src="~/Content/assets/images/item-participants.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="text">
                                        <p>Rindemax</p>
                                        <span>500 puntos</span>
                                    </div>
                                    <div class="img">
                                        <img src="~/Content/assets/images/item-participants.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="text">
                                        <p>Rindemax</p>
                                        <span>500 puntos</span>
                                    </div>
                                    <div class="img">
                                        <img src="~/Content/assets/images/item-participants.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="text">
                                        <p>Rindemax</p>
                                        <span>500 puntos</span>
                                    </div>
                                    <div class="img">
                                        <img src="~/Content/assets/images/item-participants.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="text">
                                        <p>Rindemax</p>
                                        <span>500 puntos</span>
                                    </div>
                                    <div class="img">
                                        <img src="~/Content/assets/images/item-participants.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="text">
                                        <p>Rindemax</p>
                                        <span>500 puntos</span>
                                    </div>
                                    <div class="img">
                                        <img src="~/Content/assets/images/item-participants.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="text">
                                        <p>Rindemax</p>
                                        <span>500 puntos</span>
                                    </div>
                                    <div class="img">
                                        <img src="~/Content/assets/images/item-participants.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="text">
                                        <p>Rindemax</p>
                                        <span>500 puntos</span>
                                    </div>
                                    <div class="img">
                                        <img src="~/Content/assets/images/item-participants.png" alt="">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="more text-center">
                        <a href="" class="btn btn-orange">
                            Premios
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <!-----------------------
        /// INGRESA TUS CODIGOS
        ----------------------->
        <div id="code" class="modalBox">
            <div class="main">
                <div class="wrapper">
                    <div class="close"></div>
                    <div class="heading">
                        <div class="title">
                            <span>Ingresa tu código</span>
                        </div>
                        <div class="description">
                            No olvides que sí ganas debes presentar el <br>
                            comprobante para reclamar el premio
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-cols">
                            <input type="password" placeholder="Código promocional" class="password">
                        </div>
                        <div class="form-cols">
                            <div class="file-upload">
                                <span>
                                    Subir comprobante de pago
                                </span>
                                <input type="file">
                            </div>
                        </div>
                        <div class="form-cols form-submit">
                            <input type="submit" class="btn btn-orange" value="Aceptar">
                        </div>
                    </div>
                    <div class="footer">
                        <a href="">
                            Términos y condiciones
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-----------------------
        /// FECHAS DE SORTEO
        ----------------------->
        <div id="date" class="modalBox">
            <div class="main">
                <div class="wrapper">
                    <div class="close"></div>
                    <div class="heading">
                        <div class="title">
                            <span>Fecha del sorteo</span>
                        </div>
                        <div class="description">
                            A continuación podrás ver las fechas de <br>
                            los sorteos de esta promoción
                        </div>
                    </div>
                    <div class="scroll-date">
                        <ul>
                            <li><a href="#">13 Mayo</a></li>
                            <li class="active"><a href="#">22 Junio</a></li>
                            <li><a href="#">23 Octubre</a></li>
                        </ul>
                    </div>
                    <div class="footer">
                        <p>¿Quieres consultar los premios? <a href="#">Haz clic aquí</a></p>
                        <a href="#">Términos y condiciones</a>
                    </div>
                </div>
            </div>
        </div>
        <!-----------------------
        /// INGRESA TUS CODIGOS V2
        ----------------------->
        <div id="put-code" class="modalBox put-code">
            <div class="main">
                <div class="wrapper">
                    <div class="close"></div>
                    <div class="heading">
                        <div class="title">
                            <span>Ingresa tu código</span>
                        </div>
                        <div class="image">
                            <img src="~/Content/assets/images/image-code.png" alt="">
                        </div>
                    </div>
                    <div class="form">
                        <div class="form-cols form-message">
                            Error: El código ingresado no es válido
                        </div>
                        <div class="form-cols">
                            <input type="password" placeholder="Código promocional" class="password">
                        </div>
                        <div class="form-cols">
                            <div class="file-upload">
                                <span>
                                    Subir comprobante de pago
                                </span>
                                <input type="file">
                            </div>
                        </div>
                        <div class="description">
                            No olvides presentar el comprobante para reclamar el premio
                        </div>
                        <div class="form-cols form-submit">
                            <input type="submit" class="btn btn-orange" value="Aceptar">
                        </div>
                    </div>
                    <div class="footer">
                        <a href="">
                            Términos y condiciones
                        </a>
                    </div>
                </div>
            </div>
        </div>
