
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_PublicWelcome.cshtml";
}

<div class="welcome">
    <div class="imagen">
        <img src="~/Content/assets/images/sin-promo.png" alt="">
    </div>
</div>

